KOPOKOPO_CLIENT_ID=
KOPOKOPO_CLIENT_SECRET=
KOPOKOPO_BASE_URL=https://api.kopokopo.com
KOPOKOPO_TILL_NUMBER=
PAYMENT_CALLBACK_URL=https://your-public-api.example.com/api/v1/payments/callbacks/kopokopo
KOPOKOPO_API_VERSION=v4